@model IEnumerable<WorkflowEngineV1._0.Models.Workflow>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div id="sidebar">
    <div class="logo">WorkflowEngineV1.0</div>
        <div class="task" data-id="" draggable="true">
            <i class="fa-solid fa-flag-checkered">Start</i>
            <i id="delete-btn" class="fa-solid fa-trash" ></i>
            <div class="dot"></div>
        </div>
        <div class="task" data-id="" draggable="true">
            
            <i class="fa-sharp fa-solid fa-envelope">Send E-mail</i>
            <i id="delete-btn" class="fa-solid fa-trash" ></i>

            <div class="dot"></div>
        </div>
        <div class="task" data-id="" draggable="true">
            <i class="fa-solid fa-calendar-days">Schedule A Meeting</i>
            <i id="delete-btn" class="fa-solid fa-trash" ></i>

            <div class="dot"></div>
        </div>
        <div class="task" data-id="" draggable="true">
            <i class="fa-solid fa-flag">Finish</i>
            <i id="delete-btn" class="fa-solid fa-trash"></i>

            <div class="dot"></div>
        </div>
        <div class="task" data-id="" draggable="true">
            <i class="fa-sharp fa-regular fa-folder-open">Create Doc</i>
            <i id="delete-btn" class="fa-solid fa-trash"></i>

            <div class="dot"></div>
        </div>

        <div class="buttons-container">

        <div class="buttons">
            @foreach(var workflow in Model)
            {

                    <button id="workflow-btn" onclick="selectWorkflow(@workflow.Id)" class="workflow-items @(workflow.HasProblem ? "btn btn-danger" : "")"
                    data-workflow-id="@workflow.Id" data-workflow-name="@workflow.WorkflowName">
                        <i class="fa-solid fa-gears"></i>
                        <span hidden>@workflow.WorkflowName</span>@workflow.Caption</button>
            }
        </div>

        <input type="text" id="workflow-name-input" placeholder="Workflow name .."/>
        <div class="action-buttons">
        <button class="save-btn">Save</button>
        <button class="delete-btn">Delete</button>
        @* <button id="reTrigger-btn" class="btn btn-info" hidden>Re-trigger</button> *@
        </div>
        </div>
    </div>
    <div id="droppable-area">
        <!-- Droppable area for tasks -->
        <canvas id="canvas"></canvas>
          
    </div>

    @* <script defer>

        let selectedWorkflow;


        function selectWorkflow(workflowItemId) {
            selectedWorkflow = ""+ workflowItemId;
            fetch(`/api/Workflow/${workflowItemId}`)
                .then(res => res.json())
                .then(data => {
                    if (data) {
                        const reTriggerBtn = document.getElementById("reTrigger-btn");
                        console.log(data)
                        reTriggerBtn.setAttribute('hidden', false);
                    }
                });
        }
     </script> *@
</body>
</html>
